
    <div class="product">
      <h2><%= product.nome %></h2>
      <p>Prezzo: €<%= product.prezzo %></p>
      <p><%= product.descrizione %></p>
      <img src="<%= product.immagine %>" alt="<%= product.nome %>" />
      <a href="/api/products/">
        <button>Phones List</button>
      </a>
    </div>

